 <h1>Here all your tasks</h1>
<ul>

<% @tasks.each do |task| %>
<li>
  <%= task.completed %> |
  <%= link_to task.title, task_path(task) %> |
  <%= task.details %>
  <%= link_to 'Delete',delete_task_path(task), method: :delete, data: {confirm: "Are you sure?"} %>
  </li>
  <%end%>
 </ul>
<%= link_to 'Create a new task', tasks_new_path %>




